
.desafios_codelandia section{
    margin-top: 5%;
}

.desafios_codelandia header{
    height: auto;

}

.desafios_codelandia h1{
    font-family: var(--font-title);
    font-size: 4.3rem;
    font-weight: 900;
    color: var(--title-color);
    margin-bottom: 3%;
    text-align: justify;
}

.desafios_codelandia p{
    height: auto;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 130%;
    color: var(--font-color);
    text-align: justify;
    
}

.desafios_codelandia p a{
    color: #ffffff;
    margin: 0;
    
}

.desafios_codelandia p a:hover{
    color: #000000;

}
